/* CSS Document */

header {
	width: 100%;
	background-color: #efefef;
	position: fixed;
	top: 0;
	z-index: 1000;
	
}

.logo {
	width: 150px;
	height: 14px;
	float: left;
	background: url("../images/pedagogy.svg") no-repeat;
	margin-top: 20px;
	margin-bottom: 20px;
}
nav {float: right;
}
nav ul { 
list-style-type: none;
	text-align: right;
}
nav li {
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-left: 20px;
	cursor: pointer;
	
}
/* Hero Image */

.hero-overlay {
	position: absolute;
	width: 940px;
	top: 136px;
	height: 550px;
	z-index: 100px;
	background-image: url("../images/imac.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.hero-image {
	width: 100%;
	height: 580px;
	background-image: url("../images/cloud_poster.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}




/* Introduction */

.introduction {
	width: 100%;
	padding: 100px 0;
	background-color: #ffffff;
	
}

/* About */

.about {
	width: 100%;
	padding: 100px 0;
	background-color: #efefef;
	
}

/* Costumer Testimonials */

.testimonials{
	width: 100%;
	padding: 100px 0;
	background-color: #ffffff;
	text-align: center;
}

.testimonials img {
	width: 130px;
	margin: 0 auto;
	border-radius: 50%;
}

/* Projects */

.projects{
	width: 100%;
	padding: 100px 0;
	background-color: #efefef;	
}

.project-box {
	background-color: #f8f8f8;
}
.project-text {
	padding: 10px 20px;
}

.project-link{
	font-size: .7em;
	text-transform: uppercase;
	letter-spacing: .09em;
	font-weight: 600;
	text-decoration: none;
	
}

/* Locations */

.Locations{
	width: 100%;
	padding: 100px 0;
}














